    #controls
    {
        display: flex;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .block {
        width: 50%;
    }
    
    h1 {
        color: rgb(98, 4, 161);
        font-size: 40px;
        text-align: center;
        width: 100%;
    }

    #main {
        text-align: center;
    }

    .slider {
        margin-top: 27px;
        -webkit-appearance: none;
        border-radius: 25px;
        width: 20%;
        height: 15px;
        background: rgb(255, 255, 3);
        opacity: 1;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: rgb(247, 3, 255);
        cursor: pointer;
    }

    #field {
        text-align: center;
    }

    canvas {
        display: inline;
        border: 6px dashed yellow;
    }

    .lbl {
        font-size: large;
        color: yellow;
        border-color: white;
        height: auto;
        border: 2mm;
        margin: 1mm;
        display: inline;
    }

    #isInPolygon {
        font-size: xx-large;
        display: block;
    }

    body {
        margin: 0;
    }

    .slidecontainer {
        display: inline;
        width: 30%;
        padding: 10px;
        border: 2px dashed rgb(193, 255, 132);
    }

    .bottom {
        margin-bottom: 3mm;
    }

    .spaced {
        margin: 30px;
    }

    #moveSpd {
        margin-right: 30px;
    }

    #editPoly {
        width: 150px;
        display: inline;
        margin-bottom: 3mm;
        background-color: orange;
        color: white;
        font-size: medium;
    }

    #genSum {
        display: inline;
        margin-bottom: 3mm;
        width: 250px;
        font-size: medium;
    }

    #PrjName {
        margin-top: 0mm;
        margin-bottom: 1mm;
    }

    #main {
        height: 100%;
        width: 100%;
        margin-top: 0px;
    }